/* @import url("../style.css"); */
.flex {
  display: flex;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.login-page {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--light-grey);
}
.form-group {
  margin: 0.75rem;
}

.form-group label {
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #282828;
}
.login-header {
  text-align: center;
}
.form-group input {
  padding: 0.5rem;
  border: 1px solid var(--dark-grey);
  font-size: 1rem;
  width: 100%;
}
.login-container {
  background-color: var(--white);
  width: 350px;
  box-shadow: 0 5px 10px rgb(65, 64, 64);
  padding: 2rem 2rem;
}
.login-option {
  display: flex;
  align-items: center;
}
.user-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 0.5rem 0; */
}
.forgot-psd {
  color: var(--blue-color);
  text-decoration: underline;
  cursor: pointer;
}

.btn-contaiers .login-btn {
  width: 100%;
  height: 40px;
  background: var(--blue-color);
  border: none;
  cursor: pointer;
  font-size: larger;
  color: var(--white);
  font-weight: bold;
}
.check-account {
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.check-account i {
  margin-left: 0.5rem;
}
.checkbox-lable {
  display: inline-block;
}
@media only screen and (max-width: 600px) {
  .login-container {
    width: 250px;
    padding: 1rem 1rem;
  }
  .user-option {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
  }
}
