.wishlist-page {
  margin-top: 6rem;
}
.text-center {
  text-align: center;
}
.wishlist-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  margin: 1.5rem;
  grid-gap: 1.2rem;
}
.action-button {
  position: absolute;
  top: 5px;
  right: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
