.main-container {
  display: flex;
  margin-top: 6rem;
}
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  background-color: #eaeaec;
  gap: 1.5rem;
  width: 100%;
  justify-items: center;
  padding: 1rem 1rem;
}
.card {
  box-shadow: none !important;
}
.responsive-img {
  max-width: 100%;
  max-height: 100%;
}
.card:hover {
  box-shadow: 4px 4px 4px #9a9a9a !important;
}
